<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Myweb by dchen12</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Myweb</h1>
        <p>my website build by jekell</p>

        <p class="view"><a href="https://github.com/dchen12/myweb">View the Project on GitHub <small>dchen12/myweb</small></a></p>


        <ul>
          <li><a href="https://github.com/dchen12/myweb/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/dchen12/myweb/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/dchen12/myweb">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
      <div class="container">
    {% for post in paginator.posts %}
        <article>
            <time datetime="{{ post.date }}">{{ post.date | date: "%b %e, %Y" }}</time>
            <h2 class="entry-title">
                <a title="{{ post.title }}" href="{{ post.url }}/">{{ post.title }}</a>
            </h2>
        <p>{{ post.content | strip_html | truncate: 250 }}</p>
        <p>
            <a title="{{ post.title }}" href="{{ post.url }}/">Read post</a>
        </p>
        </article>
    {% endfor %}
    
    <p class="archives">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="next" href="/" title="Recent posts">Recent&nbsp;posts&nbsp;&raquo;</a>
          {% else %}
          <a class="next" href="/page/{{ paginator.previous_page }}/" title="Recent posts">Recent&nbsp;posts&nbsp;&raquo;</a>
          {% endif %}
        {% endif %}
    
        {% if paginator.next_page %} 
        <a class="prev" href="/page/{{ paginator.next_page }}/" title="Older posts">&laquo;&nbsp;Older&nbsp;posts</a>
        {% endif %}
    </p>
</div>
</section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/dchen12">dchen12</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
